<div class="row">

    <div class="col-md-12">
      <div class="card card-user">
        <div class="card-header">
          <h5 class="card-title">Acerca de XTEC y XTecTutor</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        XTEC es una universidad pública costarricense que trabaja con fondos públicos, se fundó en 1971 y sus carreras cuentan con un 
                        énfasis en carreras de ingeniería en diferentes especializaciones. Actualmente XTEC cuenta con alrededor de 28 carreras, 11800 
                        estudiantes y 1200 empleados (profesores y personal administrativo), además de 5 sedes ubicadas estratégicamente en distintas 
                        zonas del país, entre ellas se encuentran la Sede Central de Cartago, el recinto en San José, el Centro de Transferencia Tecnológica 
                        y Educación Continua en San Carlos, la Sede Interuniversitaria en Alajuela y el Centro Académico en Limón. <br><br>

                        Ante la declaratoria de Emergencia Nacional por parte del Gobierno de la República, la Rectoría mediante las resoluciones 
                        RR-070-2020, RR-076-2020 y RR-087-2020 resolvió suspender el curso lectivo de grado, impartido en todos los campus, centros 
                        académicos y otras instalaciones del X-Tecnológico de Costa Rica, desde el lunes 16 de marzo 2020 a partir de la 1:00pm, a 
                        efecto de colaborar con las autoridades nacionales en el cumplimiento de las medidas para enfrentar la pandemia provocada por 
                        Coronavirus (COVID-19). <br><br>

                        A raíz de esta pandemia, XTEC ha decidido crear un sistema de apoyo al aprendizaje distribuido dirigido a los estudiantes de la
                        universidad. Este sistema recibe el nombre de XTecTutor. La plataforma está pensada para ser una herramienta de apoyo que centralice
                        el conocimiento de los estudiantes y facilite la distribución de dicho conocimiento para todos los estudiantes de diferentes 
                        generaciones. <br><br>

                        La Universidad ha realizado diferentes herramientas en beneficio de los estudiantes, dentro de las cuales se encuentra XTecDigital,
                        una plataforma interna para que los estudiantes puedan subir y realizar evaluaciones, además de permitirle a los profesores compartir
                        documentos específicos de cada curso. Igualmente, han desarrollado el Sistema de Matrícula y la Tesorería Online. Aunque se 
                        desarrollaron estos sistemas, ninguno comprende lo necesario para que los estudiantes puedan continuar con su aprendizaje en una
                        modalidad virtual. <br><br>

                        En principio, la Universidad ha observado una disminución de aprobación de cursos de un 19% el cual se relaciona directamente con la 
                        cantidad de estudiantes graduados que la institución puede inyectar al mercado laboral. La oportunidad que se propone es la creación
                        de una herramienta que sirva como sistema de apoyo al aprendizaje distribuido dirigido a los estudiantes. Entonces con el desarrollo
                        del sistema se espera que la aprobación de cursos aumente en un 2% al finalizar el 2022. <br><br>

                    </p>
                </div>
            </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
        <div class="card card-user">
          <div class="card-header">
            <h5 class="card-title">Números de Contacto</h5>
          </div>
          <div class="card-body">
              <div class="">
                <div class="row">
                    <div class="col-md-5">
                      <div class="form-group">
                        <label><b>Nombre de contacto</b></label>
                        <input #name disabled type="text" class="form-control" value="NUMERO DE CONTACTO/CORREO">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <div class="form-group">
                        <label><b>Nombre de contacto</b></label>
                        <input #name disabled type="text" class="form-control" value="NUMERO DE CONTACTO/CORREO">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <div class="form-group">
                        <label><b>Nombre de contacto</b></label>
                        <input #name disabled type="text" class="form-control" value="NUMERO DE CONTACTO/CORREO">
                      </div>
                    </div>
                  </div>
              </div>

          </div>
        </div>
      </div>
  
  </div>