<div class="wrapper vcenter-item">
    <div class="row justify-content-center align-items-center">
      <form class="col-lg-3 col-md-6">
        <div class="imgcontainer">
          <img src="./../../../assets/img/xtectutor.png" alt="xtecdigital-logo" class="logo">
        </div>
  
        <div class="container">

          <label><b>Tipo de Usuario</b></label>
          <select #type required class="form-control rounded-pill border-0 shadow-sm px-4" style="margin-bottom: 20px;margin-top: 10px;">
            <option value="student">Estudiante</option>
            <option value="professor">Profesor</option>
            <option value="admin">Administrador</option>
          </select>

          <label><b>Identificador de Usuario</b></label>
          <input type="text" #username placeholder="Escriba su nombre de usuario" required class="form-control rounded-pill border-0 shadow-sm px-4">
  
          <label><b>Contraseña</b></label>
          <input type="password" #password placeholder="Escriba su contraseña" required class="form-control rounded-pill border-0 shadow-sm px-4">
  
          <button type="button" class="btn btn-primary btn-block text-uppercase" style="background-color: #14447c; margin-bottom: 25px;margin-top: 50px;" (click)="verifyLogin(username.value,password.value, type.value)">Iniciar Sesión</button>
        </div>


  
      </form>
      </div>
  </div>
  