<div class="row">

    <div class="col-md-12">
      <div class="card card-user">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h3>Declaración de Privacidad<br>Versión 1.0</h3>
                    <h5>INFORMACIÓN GENERAL</h5>
                    <p>
                        Esta aplicación móvil es operada por XTecnológico de Costa Rica y diseñada por el equipo ORVES. En todo el sitio, los términos 
                        “nosotros”, “nos” y “nuestro” se refieren a XTEC. Xtectutor ofrece esta app incluyendo toda la información, herramientas y 
                        servicios disponibles para ti en este sitio, el usuario, está condicionado a la aceptación de todos los términos, 
                        condiciones, políticas y notificaciones aquí establecidos. <br><br>
                        
                        Al visitar nuestra aplicación, participas en nuestro “Servicio” y aceptas los siguientes términos y condiciones 
                        (“Términos de Servicio”, “Términos”), incluídos todos los términos y condiciones adicionales y las políticas a las que se hace
                        referencia en el presente documento y/o disponible a través de hipervínculos. Estas Condiciones de Servicio se aplican a todos
                        los usuarios del sitio, incluyendo sin limitación a usuarios que sean navegadores, proveedores, clientes, comerciantes, y/o
                        colaboradores de contenido. <br><br>
                        
                        Por favor, lee estos Términos de Servicio cuidadosamente antes de acceder o utilizar nuestra aplicación. Al acceder o utilizar 
                        cualquier parte del sitio, estás aceptando los Términos de Servicio. Si no estás de acuerdo con todos los términos y condiciones 
                        de este acuerdo, entonces no deberías acceder a la página web o usar cualquiera de los servicios. Si los Términos de Servicio son 
                        considerados una oferta, la aceptación está expresamente limitada a estos Términos de Servicio.<br><br>
                        
                        Cualquier función nueva o herramienta que se añadan a la aplicación actual, también estarán sujetas a los Términos de Servicio. 
                        Puedes revisar la versión actualizada de los Términos de Servicio, en cualquier momento en esta página. 
                        Nos reservamos el derecho de actualizar, cambiar o reemplazar cualquier parte de los Términos de Servicio mediante la 
                        publicación de actualizaciones y/o cambios en nuestro sitio web. Es tu responsabilidad chequear esta página periódicamente 
                        para verificar cambios. Tu uso contínuo o el acceso al sitio web después de la publicación de cualquier cambio constituye la 
                        aceptación de dichos cambios.
                        
                    </p>
                    <hr>
                    <h5>SECCIÓN 1 - ¿QUÉ HACEMOS CON TU INFORMACIÓN?</h5>
                    <p>
                        Cuando accedes a nuestra aplicación y/o utiliza alguna de sus funcionalidades, como parte de este proceso, nosotros recolectamos
                        la información personal que nos das tales como nombre, dirección y correo electrónico.
                        
                        Cuando navegas en nuestra aplicación, también recibimos de manera automática la dirección de protocolo de internet de tu computadora 
                        (IP) con el fin de proporcionarnos información que nos ayuda a conocer acerca de su navegador y sistema operativo.
                    
                    </p>
                    <hr>
                    <h5>SECCIÓN 2 - CONSENTIMIENTO</h5>
                    <p>
                        <b>¿Cómo obtener mi consentimiento?</b> Cuando nos provees tu información personal para completar una transacción,
                        implicamos que aceptas la recolección y uso por esa razón específica solamente. Si te pedimos tu información personal por una 
                        razón secundaria, como marketing, te pediremos directamente tu expreso consentimiento, o te daremos la oportunidad de negarte.<br><br>
                        
                        <b>¿Cómo puedo anular mi consentimiento?</b> Si luego de haber aceptado cambias de opinión, puedes anular tu consentimiento
                        para que te contactemos, por la recolección, uso o divulgación de tu información, en cualquier momento, contactandonos a 
                        info@xtectutor.com
                        
                    </p>
                    <hr>
                    <h5>SECCIÓN 3 - DIVULGACIÓN</h5>
                    <p>Podemos divulgar tu información personal si se nos requiere por ley o si violas nuestros Términos de Servicio.
                    </p>
                    <hr>
                    <h5>SECCIÓN 4 - SERVICIOS DE TERCERAS PARTES</h5>
                    <p>
                        En general, los proveedores de terceras partes utilizados por nosotros solo recopilaran, usarán y divulgarán tu información
                         en la medida que sea necesaria para que les permita desempeñar los servicios que nos proveen. Cuando haces clic en enlaces 
                         de nuestra tienda, puede que seas redirigido fuera de nuestro sitio.  No somos responsables por las prácticas de privacidad 
                         de otros sitios y te recomendamos leer sus normas de privacidad.

                    </p>
                    <hr>
                    <h5>SECCIÓN 5 - SEGURIDAD</h5>
                    <p>
                        Para proteger tu información personal, tomamos precauciones razonables y seguimos las mejores prácticas de la industria 
                        para asegurarnos de que no haya pérdida de manera inapropiada, mal uso, acceso, divulgación, alteración o destrucción de la misma.

                    </p>
                    <hr>
                    <h5>SECCIÓN 6 - EDAD DE CONSENTIMIENTO</h5>
                    <p>
                        Al utilizar este sitio, declaras que tienes al menos la mayoría de edad en tu estado o provincia de residencia, 
                        o que tienes la mayoría de edad en tu estado o provincia de residencia y que nos has dado tu consentimiento para 
                        permitir que cualquiera de tus dependientes menores use este sitio.

                    </p>
                    <hr>
                    <h5>SECCIÓN 7 - CAMBIOS A ESTA POLÍTICA DE PRIVACIDAD</h5>
                    <p>
                        Nos reservamos el derecho de modificar esta política de privacidad en cualquier momento, así que por favor revísala frecuentemente. 
                        Cambios y aclaraciones entrarán en vigencia inmediatamente después de su publicación en el sitio web.  Si hacemos cambios
                        materiales a esta política, notificaremos aquí que ha sido actualizada, por lo que cual estás enterado de qué información
                        recopilamos, cómo y bajo qué circunstancias, si las hubiere, la utilizamos y/o divulgamos.

                    </p>
                    <hr>
                    <h5>SECCIÓN 8 - PREGUNTAS E INFORMACIÓN DE CONTACTO</h5>
                    <p>
                        Si quieres: acceder, corregir, enmendar o borrar cualquier información personal que poseamos sobre ti, registrar una queja, 
                        o simplemente quieres más información contacta a nuestro Oficial de Cumplimiento de Privacidad info@xtectutor.com

                    </p>
             
                </div>
            </div>
        </div>
      </div>
    </div>

  
  </div>